<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ExtraPatches</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.QuartzComposer.ExtraPatches</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ExtraPatches</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.2</string>
	<key>CFBundleVersion</key>
	<string>156.16</string>
	<key>GFPlugIn</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>QCExtraPatches</string>
</dict>
</plist>
